<h1>Your Burrito Awaits...</h1>
<% @directions.each do |step| %>
Step <%= @directions.index(step) + 1 %>: <%= raw step %><br/>
<% end %>
<h4>Step <%= @directions.length + 1 %>: Go Ham-Sauce on that thing!!!!!<h4/>

<iframe src="<%= @map %>"></iframe>
