---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyC67wDGA5vxyEioUy48UJVbbFn2CazfN3g
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"p-HWpNqKVmRaYXtqTC4d0OKW2O0/qkTI0AQsuztFtQKrYDmBaDxCup8"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "location": {
          "lat": 39.7511873,
          "lng": -105.0031571
         },
         "accuracy": 1127.0
        }
  recorded_at: Thu, 14 Jul 2016 16:47:35 GMT
[...]
- request:
    method: post
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyC67wDGA5vxyEioUy48UJVbbFn2CazfN3g&latlng=39.7511873,-105.0031571
    body:
      encoding: UTF-8
      string: ''
    headers:
      Key:
      - AIzaSyC67wDGA5vxyEioUy48UJVbbFn2CazfN3g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1480",
                       "short_name" : "1480",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Wewatta Street",
                       "short_name" : "Wewatta St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Central",
                       "short_name" : "Central",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_n[...]
