---
http_interactions:
- request:
    method: post
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyC67wDGA5vxyEioUy48UJVbbFn2CazfN3g&latlng=39.7508388,-105.0028147
    body:
      encoding: UTF-8
      string: ''
    headers:
      Key:
      - AIzaSyC67wDGA5vxyEioUy48UJVbbFn2CazfN3g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1449",
                       "short_name" : "1449",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Wynkoop Street",
                       "short_name" : "Wynkoop St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Central",
                       "short_name" : "Central",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_n[...]
