---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyC67wDGA5vxyEioUy48UJVbbFn2CazfN3g
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"p-HWpNqKVmRaYXtqTC4d0OKW2O0/TFt35tI5G478ub2kL9Lez24LsGk"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "location": {
          "lat": 39.7508388,
          "lng": -105.0028147
         },
         "accuracy": 1132.0
        }
  recorded_at: Thu, 14 Jul 2016 20:40:42 GMT
recorded_with: VCR 3.0.3
