---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC67wDGA5vxyEioUy48UJVbbFn2CazfN3g&location=39.7511873,-105.0031571&name=chipotle&radius=500&types=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - AIzaSyC67wDGA5vxyEioUy48UJVbbFn2CazfN3g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 39.750287,
                       "lng" : -104.999022
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.7504037,
                          "lng" : -104.9988747
                       },
                       "southwest" : {
                          "lat" : 39.75024809999999,
                          "lng" : -104.9990711
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png",
                 "id" : "e9ef881dd62e99ace6881a11e70fb390b4a60b53",
                 "name" : "Chipotle Mexican Grill",
                 "opening_hours" : {
                    "open_now" : true,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 5248,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/109535013753899148036/photos\"\u003eJake Rome\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAALUjdDZJFPsMuis9edj5vS6Jdv1kHCkwvaDPji2QhjVis0AZVLYlccidWbQlNdnewfb_XaQyJkKksC4pworf4--ybL6cdOY8twmzUe0g3O6AVAD5iy-q33A_I6hHB4poa5ivSewvZa2DGwIeuYcGEtjAL1PU7Sk2PBtnejJVKN57EhBMpFiEAQsuWaugewqNT2NpGhQC_Px-fF0mlOhr2n8e91lE70hAtA",
                       "width" : 2952
                    }
                 ],
                 "place_id" : "ChIJo2w968R4bIcRhnW4pg6F-fk",
                 "price_level" : 1,
                 "rating" : 3.9,
                 "reference" : "CnRqAAAAyJg8VkjcB0Ve-oG5aVSpxi2wYqWOH62hiyL3OfupfOE-Qt_hlQUpdYGUWx_s4zyUP2AP8Ld6rwiodQ-qtev3SofIPleuQHI5XrZyeRO7A-Q6n-2yHWm8yhbnupv0i6bVQbeLp0qaqfqY97L2lckEqxIQL8iRX5IPApgCamqAMS5edhoU96LW5gMbQ61wqOYJe8pinkGMk14",
                 "scope" : "GOOGLE",
                 "types" : [ "restaurant", "food", "point_of_interest", "establishment" ],
                 "vicinity" : "1480 16th Street, Denver"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 14 Jul 2016 20:26:55 GMT
recorded_with: VCR 3.0.3
