The nearest chipotle is located at:<br/>
<%= @chipotle.address %><br/>

Take me <%= link_to "there!", direction_path(chipotle: @chipotle.address) %>

<div>
  <iframe width="420" height="315" src="https://www.youtube.com/embed/ZxRZkcEUqqQ?start=19&autoplay=1"></iframe>
</div>
